@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; empty-cells:show; }
fieldset, img { border:0; }
input::-moz-focus-inner {
border:0;
padding:0;
}
address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:normal; }
ol, ul { list-style:none; }
a{ text-decoration:none;}
i{ font-style:normal;}
caption, th { text-align:left; }
q:before, q:after { content:''; }
abbr, acronym { border:0; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio, canvas, video { display:inline-block; *display:inline;
*zoom:1;
}
audio:not([controls]) { display:none; }
html { font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
a:focus { outline:thin dotted #333; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px; }
a:hover, a:active { outline:0; }
sub, sup { position:relative; font-size:75%; line-height:0; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
img { height:auto; border:0; -ms-interpolation-mode:bicubic; vertical-align:middle; max-width:100%; width:auto\9; }
button, input, select, textarea { margin:0; font-size:100%; vertical-align:middle; }
button, input {
*overflow:visible; line-height:normal; }
button::-moz-focus-inner, input::-moz-focus-inner {
padding:0;
border:0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; -webkit-appearance:button; }
input[type="search"] { -webkit-appearance:textfield; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance:none;
}
textarea { overflow:auto; vertical-align:top; }
textarea:focus, input:focus { outline:none; }
.clear{ clear:both;}
.clearfix {zoom:1; }
.clearfix:before, .clearfix:after { display:table; content:""; height:0; clear:both; visibility:hidden; }
.clearfloat{overflow:hidden;_zoom:1; }
.clearfloat:before, .clearfloat:after { display:table; content:""; height:0; clear:both; visibility:hidden; }
.ofh{overflow:hidden}
.pointer{cursor:pointer;}

h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-family:inherit; font-weight:bold; color:inherit; text-rendering:optimizelegibility; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-weight:normal; }
h1 { font-size:30px; }
h1 small { font-size:18px; }
h2 { font-size:24px; }
h2 small { font-size:18px; }
h3 { line-height:27px; font-size:18px; }
h3 small { font-size:14px; }
h4, h5, h6 { line-height:18px; }
h4 { font-size:14px; }
h4 small { font-size:12px; }
h5 { font-size:12px; }
h6 { font-size:11px; text-transform:uppercase; }
.f12 { font-size:12px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f20 { font-size:20px; }
.f22 { font-size:22px; }
.fb { font-weight:bold; }
.fl { float:left; }
.fr { float:right; }
.hidden { visibility:hidden; }
.none { display:none; }
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }
.mv { vertical-align:middle; }
.unl { text-decoration:underline; }
.p5 { padding:5px; }
.p10 { padding:10px; }
.p20 { padding:20px; }
.pt0 { padding-top:0; }
.pt5 { padding-top:5px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt50 { padding-top:50px; }
.pt100 { padding-top:100px; }
.pr5 { padding-right:5px; }
.pr10 { padding-right:10px; }
.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr50 { padding-right:50px; }
.pr100 { padding-right:100px; }
.pb5 { padding-bottom:5px; }
.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb50 { padding-bottom:50px; }
.pb100 { padding-bottom:100px; }
.pl5 { padding-left:5px; }
.pl10 { padding-left:10px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl50 { padding-left:50px; }
.pl100 { padding-left:100px; }
.ml5 { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml30 { margin-left:30px; }
.ml50 { margin-left:50px; }
.ml100 { margin-left:100px; }
.mr5 { margin-right:5px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }
.mr20 { margin-right:20px; }
.mr30 { margin-right:30px; }
.mr50 { margin-right:50px; }
.mr100 { margin-right:100px; }
.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb30 { margin-bottom:30px; }
.mb50 { margin-bottom:50px; }
.mb100 { margin-bottom:100px; }
.mt0 { margin-top:0; }
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt30 { margin-top:30px; }
.mt50 { margin-top:50px; }
.mt100 { margin-top:100px; }
.l0{left:0}
.red{ color:#ea4144;}
.p1530{padding:15px 30px}

.chk-checkbox{ width:18px; height:18px; margin:0; padding:0; display:inline-block; vertical-align:middle; border:none; cursor:pointer;}/*��ѡ��*/
.chk-checkbox{ background:#fff url(../../img/img_register/chk-red.png) 0 0 no-repeat;}
.chk-checkbox:hover{ background-position:-20px 0;}
.chk-checkbox.chk-checked{ background-position:-40px 0;}
.chk-checkbox.chk-disabled{ background-position:-60px 0;}
.chk-checkbox.chk-checked.chk-disabled{ background-position:-80px 0;}

.chk-radio{ width:18px; height:18px; margin:0; padding:0; display:inline-block; vertical-align:middle; border:none; cursor:pointer;}/*��ѡ��*/
.chk-radio{ background:#fff url(../../img/img_register/chk-red.png) -100px 0 no-repeat;}
.chk-radio:hover{ background-position:-120px 0;}
.chk-radio.chk-checked{ background-position:-140px 0;}
.chk-radio.chk-disabled{ background-position:-160px 0;}
.chk-radio.chk-checked.chk-disabled{ background-position:-180px 0;}

article p{font-size:14px; margin-bottom:10px;}
article ol{margin-bottom:10px;}
article ol li{line-height:2; font-weight:bold}
article ol li p{font-weight:normal;margin-bottom:10px}
article ol ol{list-style:decimal; list-style-position:inside; font-weight:normal;margin-bottom:10px}
article ol ol li{text-indent:24px; font-weight:normal}

