
body {
    margin: 0;
    font: 14px/1.5 "Hiragino Sans GB", "Microsoft YaHei", sans-serif,tahoma,arial,\5b8b\4f53;
    sans-serif;
    position: relative;
    color: #333;
    background: #e6e2dd url(img/bg.png) left 108px repeat-x;
    min-width: 1000px;
}

.w {
    width: 1000px;
    margin: 0 auto;
}

.footer {
    background: none;
    text-align: center;
    line-height: 50px;
    padding-bottom: 30px;
    color: #666
}

.btn {
    width: 200px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: #000;
    text-align: center;
    letter-spacing: 3px;
    float: left;
    border: 0;
}

    .btn.red {
        background-color: #e83535;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#ed3f3f),to(#e83535));
        background-image: -webkit-linear-gradient(top,#ed3f3f,#e83535);
        background-image: -moz-linear-gradient(top,#ed3f3f,#e83535);
        filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr='#ed3f3f',endColorStr='#e83535',GradientType=0 );
        color: #fff;
    }

        .btn.red:hover {
            background-color: #f95454;
            background-image: -webkit-gradient(linear,left top,left bottom,from(#ff6868),to(#f95454));
            background-image: -webkit-linear-gradient(top,#ff6868,#f95454);
            background-image: -moz-linear-gradient(top,#ff6868,#f95454);
            filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr='#ff6868',endColorStr='#f95454',GradientType=0 );
            color: #fff;
        }

/* 登录 */
.login {
    width: 100%;
    height: 644px;
    background: url(../../img/img_login/login_bg.jpg) 50% 0 no-repeat;
    position: relative;
    z-index: 0;
}

    .login .container {
        width: 954px;
        min-height: 374px;
        margin: 136px auto 0;
    }

.benefits {
    width: 454px;
    background: rgba(128,157,174,0.3);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#66809dae', EndColorStr='#66809dae');
    color: #fff;
}

    .benefits h2 {
        height: 114px;
        line-height: 114px;
        background-position: 0 0;
        font-size: 24px;
        color: black;
        font-weight: 500;
        background-color: rgba(128,157,174,0.3);
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#66809dae', EndColorStr='#66809dae');
    }

    .benefits h3 {
        height: 50px;
        line-height: 1.5;
        background-position: 0 -316px;
        font-size: 12px;
        font-weight: 500;
        color: black;
        padding-top: 10px;
        padding-right: 32px;
        background-color: rgba(128,157,174,0.3);
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#66809dae', EndColorStr='#66809dae');
    }

    .benefits p {
        line-height: 40px;
        padding-left: 20px;
        color: black;
    }

    .benefits h2 {
        padding-left: 132px;
        background-image: url(../../img/img_login/photo.png);
        background-size: 90px 90px;
        background-position: 20px 10px;
        background-repeat: no-repeat;
    }

    .benefits h3 {
        padding-left: 140px;
    }


    .benefits .goRegistNow {
        font-size: 16px;
        margin-top: 8px;
    }


.login_box {
    width: 400px;
    background: #fff;
    float:left;
}

    .login_box ul.login_tab {
        height: 50px;
        overflow: hidden;
    }

        .login_box ul.login_tab li {
            width: 100%;
            height: 50px;
            line-height: 48px;
            border: 1px solid #dcdcdc;
            border-bottom: 0;
            float: left;
            text-align: center;
            cursor: pointer;
            font-size: 14px;
            color: #666;
            position: relative;
            letter-spacing: 3px;
            background-color: #f2f2f2;
            background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f8f6),to(#f2f2f2));
            background-image: -webkit-linear-gradient(top,#f9f8f6,#f2f2f2);
            background-image: -moz-linear-gradient(top,#f9f8f6,#f2f2f2);
            filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr='#f9f8f6',endColorStr='#f2f2f2',GradientType=0 );
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

            .login_box ul.login_tab li.current {
                line-height: 42px;
                border-top: 4px solid #ea3a3a;
                color: #333;
                font-weight: 700;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
                background: #f9f9f9;
                filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr='#f9f9f9',endColorStr='#f9f9f9',GradientType=0 )
            }

.tabLogin {
    min-height: 284px;
    padding: 15px 12px 25px;
}

    .tabLogin ul {
        width: 620px;
        float: left;
    }

        .tabLogin ul li {
            width: 100%;
            height: 56px;
            line-height: 56px;
            float: left;
        }

            .tabLogin ul li dt {
                width: 90px;
                text-align: right;
                float: left;
                padding-right: 20px;
                color: #333;
                font-size: 12px;
            }

            .tabLogin ul li.short dd {
                color: #333;
                font-size: 12px
            }

                .tabLogin ul li.short dd > a:link, .tabLogin ul li.short dd > a:visited {
                    color: #4a90e2
                }

            .tabLogin ul li dd {
                width: 350px;
                float: left;
                position: relative;
            }

                .tabLogin ul li dd.login_manner_tab a {
                    float: left;
                }

                .tabLogin ul li dd label {
                    margin-right: 24px;
                    display: inline;
                    font-size: 12px;
                }

                .tabLogin ul li dd .iradio_minimal-red {
                    margin: -3px 8px 0 0;
                }

.login_manner_tab .chk-radio + span {
    font-size: 12px;
    cursor: pointer;
    color: #666
}

.tabLogin ul li dd input {
    width: 180px;
    height: 20px;
}

    .tabLogin ul li dd input.input_short {
        width: 123px;
    }

    .tabLogin ul li dd input.input_button {
        text-align: center;
        font-weight: 700;
        color: #999;
        border: 1px solid #e1e1e1;
        border-color: #ebebeb #e6e6e6 #e1e1e1 #e6e6e6;
        box-shadow: none;
        cursor: pointer;
        background-color: #f8f8f8;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
        background-image: -webkit-linear-gradient(top,#fff,#f8f8f8);
        background-image: -moz-linear-gradient(top,#fff,#f8f8f8);
        filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr='#ffffff',endColorStr='#f8f8f8',GradientType=0 );
    }

    .tabLogin ul li dd input.gray {
        background: #efefef;
    }

.tabLogin ul li dd input.input_button:focus {
    border-color: #e1e1e1;
    box-shadow: none;
}

.tabLogin ul li dd input.light {
    border-color: #ea3a3a;
}

.tabLogin ul li dd i.wrong_icon {
    width: 170px;
    height: 32px;
    line-height: 32px;
    background: url(../../img/login_icon.png) -4px -564px no-repeat;
    float: right;
    padding-left: 32px;
    font-style: normal;
    color: #ea3a3a;
    font-size: 12px;
    position: absolute;
    top: 12px;
    left: 300px;
}

.tabLogin ul li dd input[type="radio"] {
    width: auto;
    height: auto;
}

.tabLogin ul li dd a.btn, .tabLogin ul li dd button.btn {
    width: 200px;
    box-shadow: none;
    margin-top: 10px;
}

/*输入框 */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 20px;
    padding: 5px 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font: 500 14px "微软雅黑";
    color: #666;
    border-radius: 2px;
    vertical-align: middle;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

    select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
        border-color: #a0a0a0;
        outline: 0;
    }
